@use "bootstrap";
@use './partials/_header';
@use './partials/_main';
@use './partials/_footer';

body {
    background-color: #1c1c1c;

    header {
        background-color: white;
    }
}

.form-control{
    margin-bottom: 1.5rem;
}