.bg {
    background-image: url(/public/images/footer-bg.jpg);
}

.text {
    color: #949494;
}

.bg-gray {
    background-color: #303030;
}

.footer-btn {
    background-color: transparent;
    border: 1px solid #0282f9;
    color: white;
    padding: 0.4rem;
}